<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SAMAM</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/mainPage.css">
        <style>
            body{
                background-image: url("../static/WhatsApp\ Image\ 2024-03-20\ at\ 16.49.48_8abfad78.jpg");
                background-size: cover;
            }
            .container{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                flex-direction: column;
            }
        </style>
    </head>
    <body >

        <!-- add karla font -->
    

       <div class="container">
        <div class="label2">
            Dear, {{ Name }}, {{ result }} 
        </div>
       </div>

    
     
    </body>    
</html>